.menu .active a{
    color: var(--secondarycolor) !important;
}
.item:hover a{
        color: var(--secondarycolor) !important;

}
.item a {
    position: relative;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: var(--text-color300);
  align-items: center;
  gap: 10px;
  transition: 0.3s;
}
.item{
    width: 100px;
}
.rowItems .item:not(:last-child) > a::before {
  content: '';
  position: absolute;
  inset-inline-end: -32px;
  width: 1px;
  height: 100%;
  background: #EEEEEE;
  top: 50%;
  transform: translateY(-50%);
}
 .rowItems {
  align-items: center;
  gap: 60px;
  flex-wrap: wrap;
  position: relative;
}
.columnItems{
flex-direction: column;
}
.menu{
    gap: 20px;
    text-align: center;
    margin-bottom: 0%;
}
.columnItems .item{
  margin-bottom: 20px;
}