
.position-relative {
  position: relative !important;
}
.inner-main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 88px;
}


.logo-box img{
width: 116px;
}
.right-main-header {
  display: flex;
  align-items: center;
  gap: 80px;
  flex: 1;
}


