<!-- 
<div class="background e-con  justify-content-center d-flex">
    <div class="bg-cover">     
    </div>

        <div class="d-flex  inner-slide row"  >
              <div class="col-md-7 col-12">
<h2 class="text-light my-2">
شرکت ساخت و ساز ساختینو
</h2>
<p class="text-light my-4">ساخت و ساز فرآیند ساخت یک ساختمان یا زیرساخت است. ساخت و ساز از تولید متفاوت است در آن تولید معمولا شامل تولید انبوه از اقلام مشابه بدون خریدار تعیین شده است.</p>
           

              <div
                      class="moshavereh-btn secondary"
                    >
                      مشاوره رایگان<i class="bi bi-arrow-left"></i>
        </div>
         </div>
           
<div class="imagediv col-md-5 col-12 ">
                    <img [src]="SLIDEIMAGE" alt="" class="wp-image-112">

</div>   

</div>

          </div>
           <div class="mountain text-center d-none d-md-block"> <br>
           <div class="h4">
             <div class=" arrow-down ">
<i class="bi bi-arrow-down p-2"></i>
            </div>
           </div>
    </div>
          

   
 -->
<div class="background e-con justify-content-center d-flex">
    <div class="bg-cover"></div>

    <div class="inner-slide container"> <!-- از container برای padding و max-width استفاده کنید -->
        <div class="row align-items-center"> <!-- align-items-center برای وسط چین کردن عمودی -->

            <div class="col-md-7 col-12 col-content"> <!-- col-content اضافه شد -->
                <h2 class="text-light my-2">
                    شرکت ساخت و ساز ساختینو
                </h2>
                <p class="text-light my-4">ساخت و ساز فرآیند ساخت یک ساختمان یا زیرساخت است. ساخت و ساز از تولید متفاوت است در آن تولید معمولا شامل تولید انبوه از اقلام مشابه بدون خریدار تعیین شده است.</p>

                <div class="moshavereh-btn secondary">
                    مشاوره رایگان<i class="bi bi-arrow-left"></i>
                </div>
            </div>

            <div class="imagediv col-md-5 col-12">
                <img [src]="SLIDEIMAGE" alt="" class="wp-image-112">
            </div>

        </div>
    </div>

    <!-- Mountain section - hidden on small screens by default -->
    <div class="mountain text-center d-none d-md-block">
        <div class="h4">
            <div class="arrow-down">
                <i class="bi bi-arrow-down p-2 animate"></i> <!-- کلاس animate برای انیمیشن -->
            </div>
        </div>
    </div>

</div>
