<div class="container mt-5">

    <div class="text-center">
        <h5 class="title">وبلاگ</h5>
         <div class="text-center">
        <div class="span1 mx-1"></div> <div class="span2 mx-1"></div>
      </div>
        <p class="sub-title">اخرین اخبار</p>
    </div>
    <div class="card-list row mt-5">
        
<div class="col-lg-3 col-md-6 col-12">
    
<div class="card p-3" >
  <img src="1-7-258x168.webp" class="card-img-top " alt="...">
  <div class="card-body">
    <h5 class="card-title">
دستگاه ملات پاش چیست
</h5>
    <p class="card-text text-length">دستگاه ملات پاش میکسر دار T6020-B1، با طراحی هوشمندانه و قدرتمند خود، کار شما را متحول خواهد کرد. این دستگاه مناسب سیمانکاری است و اگر بخواهیم یک ویژگی خاص که سایر دستگاه ها امکان آن را ندارند نام ببریم؛ این است که این پمپ قابلیت پاشش انواع مصالح پودری و خمیری، از جمله پوشش‌های ضد حریق ، ترکیب کاه‌گل و مصالح مشابه را دارا می باشد. اگر به دنبال دستگاهی هستید که کار با آن آسان باشد و در عین حال برای ساختمان‌های تا 5 طبقه مناسب باشد، مطالعه ادامه این مطلب را از دست ندهید.
۱. تکنولوژی‌های دیجیتال: تحول در طراحی و ساخت</p>
   <div class="my-5">
    
   <div class="text-secondary">
  

      <i class="bi bi-clock mx-2"></i>1404/01/17

   </div> 
                <div class="overlay-btn btn col-3 "><i class="bi bi-arrow-90deg-left my-icon"></i></div>


   </div>
  </div>
</div>
</div>
<div class="col-lg-3 col-md-6 col-12">
    
<div class="card p-3" >
  <img src="1-7-258x168.webp" class="card-img-top " alt="...">
  <div class="card-body">
    <h5 class="card-title">
دستگاه ملات پاش چیست
</h5>
    <p class="card-text text-length">دستگاه ملات پاش میکسر دار T6020-B1، با طراحی هوشمندانه و قدرتمند خود، کار شما را متحول خواهد کرد. این دستگاه مناسب سیمانکاری است و اگر بخواهیم یک ویژگی خاص که سایر دستگاه ها امکان آن را ندارند نام ببریم؛ این است که این پمپ قابلیت پاشش انواع مصالح پودری و خمیری، از جمله پوشش‌های ضد حریق ، ترکیب کاه‌گل و مصالح مشابه را دارا می باشد. اگر به دنبال دستگاهی هستید که کار با آن آسان باشد و در عین حال برای ساختمان‌های تا 5 طبقه مناسب باشد، مطالعه ادامه این مطلب را از دست ندهید.
۱. تکنولوژی‌های دیجیتال: تحول در طراحی و ساخت</p>
   <div class="my-5">
    
   <div class="text-secondary">
  

      <i class="bi bi-clock mx-2"></i>1404/01/17

   </div> 
                <div class="overlay-btn btn col-3 "><i class="bi bi-arrow-90deg-left my-icon"></i></div>


   </div>
  </div>
</div>
</div>
<div class="col-lg-3 col-md-6 col-12">
    
<div class="card p-3" >
  <img src="1-7-258x168.webp" class="card-img-top " alt="...">
  <div class="card-body">
    <h5 class="card-title">
دستگاه ملات پاش چیست
</h5>
    <p class="card-text text-length">دستگاه ملات پاش میکسر دار T6020-B1، با طراحی هوشمندانه و قدرتمند خود، کار شما را متحول خواهد کرد. این دستگاه مناسب سیمانکاری است و اگر بخواهیم یک ویژگی خاص که سایر دستگاه ها امکان آن را ندارند نام ببریم؛ این است که این پمپ قابلیت پاشش انواع مصالح پودری و خمیری، از جمله پوشش‌های ضد حریق ، ترکیب کاه‌گل و مصالح مشابه را دارا می باشد. اگر به دنبال دستگاهی هستید که کار با آن آسان باشد و در عین حال برای ساختمان‌های تا 5 طبقه مناسب باشد، مطالعه ادامه این مطلب را از دست ندهید.
۱. تکنولوژی‌های دیجیتال: تحول در طراحی و ساخت</p>
   <div class="my-5">
    
   <div class="text-secondary">
  

      <i class="bi bi-clock mx-2"></i>1404/01/17

   </div> 
                <div class="overlay-btn btn col-3 "><i class="bi bi-arrow-90deg-left my-icon"></i></div>


   </div>
  </div>
</div>
</div><div class="col-lg-3 col-md-6 col-12">
    
<div class="card p-3" >
  <img src="1-7-258x168.webp" class="card-img-top " alt="...">
  <div class="card-body">
    <h5 class="card-title">
دستگاه ملات پاش چیست
</h5>
    <p class="card-text text-length">دستگاه ملات پاش میکسر دار T6020-B1، با طراحی هوشمندانه و قدرتمند خود، کار شما را متحول خواهد کرد. این دستگاه مناسب سیمانکاری است و اگر بخواهیم یک ویژگی خاص که سایر دستگاه ها امکان آن را ندارند نام ببریم؛ این است که این پمپ قابلیت پاشش انواع مصالح پودری و خمیری، از جمله پوشش‌های ضد حریق ، ترکیب کاه‌گل و مصالح مشابه را دارا می باشد. اگر به دنبال دستگاهی هستید که کار با آن آسان باشد و در عین حال برای ساختمان‌های تا 5 طبقه مناسب باشد، مطالعه ادامه این مطلب را از دست ندهید.
۱. تکنولوژی‌های دیجیتال: تحول در طراحی و ساخت</p>
   <div class="my-5">
    
   <div class="text-secondary">
  

      <i class="bi bi-clock mx-2"></i>1404/01/17

   </div> 
                <div class="overlay-btn btn col-3 "><i class="bi bi-arrow-90deg-left my-icon"></i></div>


   </div>
  </div>
</div>
</div>

    </div>
</div>