<footer>
    <div class="mainbox container-fluid">
    <div class="row d-md-flex justify-content-center align-items-center d-none ">
  <div class="box">
  <div class="col-lg-6 d-flex">
     <div ><img src="Group-11395.png" alt=""></div>
   <div><p class="h5 me-4 text my-1">
پاسخگوی پرسش‌های شما هستیم
</p></div>
  </div>
  <div class="col-lg-6  d-flex justify-content-end">
    <div><div class="text h5 my-2">
        021-2586932
    </div></div>
    <div class="mx-3">              <a href="" class="btn btn-orange px-4 py-2">مشاوره رایگان <i class="bi bi-arrow-left m-3"></i></a>
</div>
  </div>
  </div>
    </div>
    <div class="mx-3">
        <div class="box2 d-flex d-md-none ">
   <div class="col-6 text-end text-light">
    <div>تماس با پشتبانی</div>
   </div>
   <div class="col-5 text-start"><div class="text h6 my-2">
        021-2586932
    </div></div>
    </div>
    </div>


    <div class="footer">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-2 col-6  d-flex flex-column">
                    <div >
                        <div class="footerTitle">
                             دسترسی سریع
                        </div> 
        <div class="span1 mx-1"></div> <div class="span2 mx-1"></div>
                    </div>
                    <div class="my-3">
                        <ul>
                            <li><i class="bi bi-square-fill ms-3"></i> <a href="">خدمات</a><div ></div></li>
                            <li><i class="bi bi-square-fill ms-3"></i><a href="">خدمات</a> <div></div></li>
                            <li><i class="bi bi-square-fill ms-3"></i><a href="">خدمات</a> <div></div></li>
                            <li><i class="bi bi-square-fill ms-3"></i><a href="">خدمات</a> <div></div></li>
                        </ul>
                    </div>
                </div>
                 <div class="col-lg-2 col-6 d-flex flex-column">
                    <div>
                        <div class="footerTitle">
                             دسترسی ها
                        </div> 
        <div class="span1 mx-1"></div> <div class="span2 mx-1"></div>
                    </div>
                    <div class="my-3">
                        <ul>
                            <li><i class="bi bi-square-fill ms-3"></i> <a href="">خدمات</a><div ></div></li>
                            <li><i class="bi bi-square-fill ms-3"></i><a href="">خدمات</a> <div></div></li>
                            <li><i class="bi bi-square-fill ms-3"></i><a href="">خدمات</a> <div></div></li>
                            <li><i class="bi bi-square-fill ms-3"></i><a href="">خدمات</a> <div></div></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-5 col-12 col-md-7">
                    <div  class="row">
                         <div class="col-6">
                             <div class="footerTitle">
                              نمایندگی های ما
                        </div> 
                                <div class="span1 mx-1"></div> <div class="span2 mx-1"></div>

                         </div>
                         <div class="text-start col-6">
                            <i class="bi bi-arrow-left h4 text-light"></i>
                         </div>
                    </div>
                    <div class="row g-3 my-2">
                    <div class="col-6 ">
                        <div class="boxfooter"></div>
                    </div>
                    <div class="col-6 "><div class="boxfooter"></div></div>
                    </div>
                </div>
                 <div class="col-lg-3 col-12 col-md-5">
                    <div  class="row">
                         <div class="col-7">
                             <div class="footerTitle">
                              گواهینامه و افتخارات
                        </div> 
                                <div class="span1 mx-1"></div> <div class="span2 mx-1"></div>

                         </div>
                         <div class="text-start col-5">
                            <i class="bi bi-arrow-left text-light h4"></i>
                         </div>
                    </div>
                    <div class="row g-3 my-2">
                    <div class="col-4 ">
                        <div class="boxfooter2"></div>
                    </div>
                    <div class="col-4 "><div class="boxfooter2"></div></div>
                    <div class="col-4 "><div class="boxfooter2"></div></div>

                    </div><br>
                    <div class="row g-3">
                                            <div class="col-3 "><div class="boxfooter2"></div></div>
                    <div class="col-3 "><div class="boxfooter2"></div></div>
                    <div class="col-3 "><div class="boxfooter2"></div></div>
                    <div class="col-3 "><div class="boxfooter2"></div></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</footer> 