<div >
  <div class="container">
    <div class="top-header row">
      <div class="right-top-header ">
        <div>
          <ul class="nav">
             
            <!-- sidenav component -->
            <li class="nav-item navside">
              <a class="nav-link"
                ><app-navbar>
                  <div class="side-menu-description d-none d-lg-inline">
                    ساخت و ساز فرآیند ساخت یک ساختمان یا زیرساخت است. ساخت و ساز
                    از تولید متفاوت است در آن تولید معمولا شامل تولید انبوه از
                    اقلام مشابه بدون خریدار تعیین شده است.
                  </div>
                
                  </app-navbar
              ></a>
            </li>

            <li class="nav-item d-none d-lg-inline">
              <a class="nav-link" href="#">وبلاگ</a>
            </li>
            <li class="nav-item d-none d-lg-inline">
              <a class="nav-link" href="#">درباره ما</a>
            </li>
            <li class="nav-item d-none d-lg-inline">
              <a class="nav-link" href="#">تماس با ما</a>
            </li>
          </ul>
        </div>
       <span class="shape shape1 "></span>
        <span class="shape shape2 "></span>
      </div>
      <div class="left-top-header">
        <div class="header-info-box">
          <div class="text">شنبه‌ تا پنجشنبه/8:00-16:00</div>
          <span class="v-line"></span>
          <span class="icon">
            <i class="bi bi-clock"></i>
          </span>
        </div>
        <a class="header-info-box" href="tel:+982133526278">
          <div class="text">021-33526278</div>
          <span class="v-line"></span>
          <span class="icon">
            <i class="bi bi-telephone-inbound"></i>
          </span>
        </a>
      </div>
    </div>
    <div class="left-bac"></div>
  </div>
</div>
